<style>
  .topic-header {
    color: rgb(204, 85, 0);
    font-family: "Corsiva", cursive;
  }
</style>

<h1 class="topic-header">Articles for <%= @city %> - <%= @topic %></h1>

<div class="card-container">
  <% @articles.each do |article| %>
    <div class="card">
      <h2><%= article.title %></h2>
      <p><%= article.content %></p>
      <% favorited = current_user.favorited?(article) %>
      <%= link_to favorited ? "Unfavorite" : "Favorite", article_favorite_path(article) %>
    </div>
  <% end %>
</div>
