

<%= @city %>

<% @topics.each do |topic, count| %>

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><%= topic %></h5>
      <p class="card-text">(no. of articles: <%= count %>)</p>
      <%= link_to 'Topic', show.html.erb(topic) %>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><%= topic %></h5>
      <p class="card-text">(no. of articles: <%= count %>)</p>
      <%= link_to 'Topic', show.html.erb(topic) %>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><%= topic %></h5>
      <p class="card-text">(no. of articles: <%= count %>)</p>
      <%= link_to 'Topic', show.html.erb(topic) %>
    </div>
  </div>

  <div class="card text-center">
    <div class="card-body">
      <h5 class="card-title"><%= topic %></h5>
      <p class="card-text">(no. of articles: <%= count %>)</p>
      <%= link_to 'Topic', show.html.erb(topic) %>
    </div>
  </div>
<% end %>
