<div class="container">
  <h1>Articles for <%= @city %></h1>

  <% @topics.each do |topic, count| %>
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title">
          <%= link_to city_articles_topic_path(@city, topic), class: "card-title" do %>
            <%= topic %>
          <% end %>
        </h5>

        <% @articles.each do |article| %>
          <% if article.topic == topic %>
            <div>
              <%= article.content %>
            </div>
          <% end %>
        <% end %>

        <p class="card-text">(no. of articles: <%= count %>)</p>
      </div>
    </div>
  <% end %>
</div>
