

<div class="image-container">
  <%= image_tag "Nomad.png", alt: 'Postcard', class: 'responsive-image' %>
  <div class="search-bar">
    <form id="search-form" action="/cities/search">
      <%# <input type="text" name="query" placeholder="Search for a city" class="search-input"> %>
      <%=text_field_tag :query,
      params[:query]%>
      <%# <button type="submit" class="search-button">Go</button> %>
      <input type="submit">
    </form>
  </div>
</div>



<%
=begin%>
 <div class="image-container" >
  <%= image_tag "Map.png", alt: 'Map', class: 'responsive-image' %>
  <div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
</div>
<%
=end%>

  <div style="width: 600px; height: 500px; background-image: <%= image_tag "Map.png", alt: 'Map', class: 'responsive-image' %>"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>">
  </div>
