<% if @city_articles.any? %>
  <h1 class="text-center"><%= @city_name.capitalize %></h1>
<% else %>
  <div class="pop-out">
    <h1>It looks like there are no Digital Nomads in <%= @city_name.capitalize %>. Be the first one!</h1>
    <%= image_tag('ak.png', alt: 'No Digital Nomads') %>
  </div>
<% end %>

<% @topics.each do |topic| %>
  <% articles_by_topic = @city_articles.where(topic: topic) %>
  <% unless articles_by_topic.empty? %>
    <div class="card-group">
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="text-center text-bold text-orange">
            <%= link_to topic, city_articles_topic_path(@city_name, topic), class: 'text-orange' %>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <% articles_by_topic.each do |article| %>
              <div class="col-md-3">
                <div class="card mb-3">
                  <div class="card-body">
                    <h3 class="text-center text-bold text-orange" data-toggle="modal" data-target="#articleModal-<%= article.id %>">
                      <%= link_to article.title, article_path(article) %>
                    </h3>
                    <p class="text-center"><%= truncate(article.content, length: 100) %></p>
                    <div class="text-center">
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<%= stylesheet_link_tag 'cities' %>

<%# ------------------------------------------------------ %>


<html>
<head>
  <title>Connected Users</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background-color: #f5f5f5;
    }

    .user-list {
      max-width: 500px;
      margin: 0 auto;
      padding: 20px;
      background-color: #fff;
      border-radius: 5px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    }

    .user-list-item {
      display: flex;
      align-items: center;
      margin-bottom: 15px;
    }

    .user-list-item .profile-image {
      width: 50px;
      height: 50px;
      background-color: #000;
      border-radius: 50%;
      margin-right: 10px;
    }

    .user-list-item .name {
      font-size: 18px;
    }
  </style>
</head>
<body>
  <div class="user-list">
    <h1>Connected Users</h1>

    <% @users.each do |user| %>
      <div class="user-list-item">
        <div class="profile-image"></div>
        <div class="name"><%= user.name %></div>
      </div>
    <% end %>
  </div>
</body>
</html>
<%# ------------------------------------------------------ %>

<% @city_articles.each do |article| %>
  <%= render partial: 'articles/article_modal', locals: { article: article } %>
<% end %>
