<% if @city_articles.any? %>
  <h1><%= @city_name.capitalize %></h1>
<% else %>
  <h1>No articles found for <%= @city_name.capitalize %>.</h1>
<% end %>

<% @topics.each do |topic| %>
  <% articles_by_topic = @city_articles.where(topic: topic) %>
  <% unless articles_by_topic.empty? %>
    <div class="card-group">
      <div class="card mb-3">
        <div class="card-header">
          <h2 class="text-center text-bold text-orange">
            <%= link_to topic, city_articles_topic_path(@city_name, topic), class: 'text-orange' %>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <% articles_by_topic.each do |article| %>
              <div class="col-md-3">
                <div class="card mb-3">
                  <div class="card-body">
                    <h3 class="text-center text-bold text-orange" data-toggle="modal" data-target="#articleModal-<%= article.id %>">
                      <%= link_to truncate(article.title, length: 30), article_path(article) %>
                    </h3>
                    <p class="text-center"><%= truncate(article.content, length: 100) %></p>
                    <div class="text-center">
                    </div>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
