<%
=begin%>

<%= @city %>
<% @topics.each do |topic, count| %>
<div class="card mb-3">
  <img src="<%= asset_path('170623115234-heathrow-getty.jpeg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title"><%= topic %></h5>
    <p class="card-text">(no. of articles: <%= count %>)</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>
<% end %>

Topic.all.each do (topic)
  <div class="card mb-3">
    h1 topic.name
      @city_articles.where(topic: topic.name)

end

 <style>
  .card-img-top {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
  }
</style>


 <div class="card mb-3">
  <img src="<%= asset_path('170623115234-heathrow-getty.jpeg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Getting Here</h5>
    <p class="card-text">(no of articles)</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="<%= asset_path('20stories-restaurant.jpeg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Experiences</h5>
    <p class="card-text">(no of articles)</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="<%= asset_path('38906104_1200x400.jpeg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Visas</h5>
    <p class="card-text">(no of articles)</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>

<div class="card mb-3">
  <img src="<%= asset_path('8f0c1de3-aa1f-49a1-a5f7-32323feea301.jpeg') %>" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Getting Around</h5>
    <p class="card-text">(no of articles)</p>
    <p class="card-text"><small class="text-body-secondary">Last updated 3 mins ago</small></p>
  </div>
</div>
<%
=end%>

<% @topics.each do |topic| %>
 <% unless @city_articles.where(topic: topic).empty? %>
  <div class="card mb-3">
    <h1><%= topic %></h1>
    <% @city_articles.where(topic: topic).each do |article| %>
     <p><%= article.content %></p>
    <% end %>
  </div>
  <% end %>
<% end %>
